{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="fa">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>فرم ورود</title>
    <link rel="stylesheet" href="{% static 'assets/css/Overlay-Login-Form.css' %}">
    <link href="https://cdn.fontcdn.ir/Font/Persian/Shabnam/Shabnam.css" rel="stylesheet">
    <style>
        /* اعمال فونت شبنم به کل بدنه صفحه */
        body {
            font-family: 'Shabnam', sans-serif;
        }
        /* اعمال استایل به عنوان فرم */
        .form-header {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<section>
    <div class="section-bg-overlay">
        <div class="form-box">
            <div class="form-value">
                <form action>
                    <!-- ایجاد عنوان فرم با استایل اختصاصی -->
                    <h1 class="form-header">ورود به حساب کاربری</h1>
                    <div class="inputbox">
                        <input type="email" required>
                        <label for="email">ایمیل</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" required>
                        <label for="password">رمز عبور</label>
                    </div>   
                    <div class="inputbox">
                        <input type="password" required>
                        <label for="password"> تکرار رمز عبور </label>
                    </div>    
                    <button type="submit" class="btn btn-primary">
                        ورود
                    </button>
                        <a href="#">فراموشی رمز عبور؟</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
